<h1>Listing News Articles <%= link_to 'New News article', new_news_article_path, :class => "btn btn-primary pull-right"  %></h1>
<div id="article_table"><%= render :partial => "news_articles_table" %></div>


<br />


