<div class="col-sm-6">
             
                <div class="panel panel-default">
                   <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Responsive Design</h4></div>
                    <div class="panel-body">
                      <p><img src="//placehold.it/100" class="img-circle pull-right"> <a href="#">Bootstrap Playground</a></p>
                      <div class="clearfix"></div>
                      <hr>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                      Aliquam in felis sit amet augue.
                      <hr>
                      <div class="btn-group pull-right btn-toggle"> 
                        <button class="btn btn-default">ON</button>
                        <button class="btn btn-primary active">OFF</button>
                      </div>
                    </div><!--/panel-body-->
                 </div><!--/panel-->
            </div><!--/col-->
            <div class="col-sm-6">
             
                <div class="panel panel-default">
                   <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Responsive Design</h4></div>
                    <div class="panel-body">
                      <p><img src="//placehold.it/100" class="img-circle pull-right"> <a href="#">Bootstrap Playground</a></p>
                      <div class="clearfix"></div>
                      <hr>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                      Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                      dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                      Aliquam in felis sit amet augue.
                      <hr>
                      <div class="btn-group pull-right btn-toggle"> 
                        <button class="btn btn-default">ON</button>
                        <button class="btn btn-primary active">OFF</button>
                      </div>
                    </div><!--/panel-body-->
                 </div><!--/panel-->
            </div><!--/col-->