<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Heading</th>
    <th>Body</th>
    <th>Tags</th>
  </tr>
  </thead>
  <tbody>
  <div id="news_articles">
  <% @news_articles.each do |news_article| %>
    <tr>
      <td><%= link_to news_article.heading, main_page_show_path(:id => news_article.id) %></td>
      <td><%= news_article.body %></td>
      <td><%= join_tags(news_article) %></td>
      </tr>
    <%end%>
  </div>
  </tbody>
</table>

<%= will_paginate @news_articles, :renderer => BootstrapPagination::Rails %>